body {
    font-family: "Courier New", Courier, monospace;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #fff;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    position: relative;
    text-align: center;
}

h1 {
    margin: 0 auto;
    flex-grow: 1;
}

.container_principale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#ouvrir-formulaire {
    padding: 10px 15px;
    background-color: #4CAF50; /* Vert */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1em;
}

#form-modifier {
    display: none;
}

aside {
    float: left;
    width: 200px;
    background-color: #000;
    padding: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 1em;
}

nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #555;
}

nav li.active a {
    background-color: #555;
    color: #fff;
}

main {
    margin-left: 220px;
    padding: 1em;
    margin-bottom: 50px;
}

section {
    margin-bottom: 2em;
}

h2 {
    margin-top: 0;
    margin-bottom: 1em;
}

.section-active {
    background-color: #333;
}

.section-filtres, .section-taches {
    border: 1px solid #ddd;
    padding: 1em;
    background-color: #000;
}

.statistiques ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.statistiques li {
    margin-bottom: 0.5em;
}

.liste-taches {
    max-height: 350px;
    overflow-y: auto;
}

.liste-taches table {
    width: 100%;
    border-collapse: collapse;
}

.liste-taches th, .liste-taches td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

.liste-taches th {
    background-color: #000;
    color: #fff;
}

.liste-taches a {
    text-decoration: none;
    color: #fff;
}

.liste-taches a:hover {
    color: #007bff;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    z-index: 1000;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutForm {
    margin-right: 1em;
}

.logout-p {
    margin-left: 1em;
}
