/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.has-error input,
.has-error select {
    border: 1px solid #ff0000;
}

.help-block {
    color: #ff0000;
    font-size: 12px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    z-index: 1000;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutForm {
    margin-right: 1em;
}

.logout-p {
    margin-left: 1em;
}

