
body {
    font-family: "Courier New", Courier, monospace;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    color: #ddd;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 30px;
    background-color: #2b2b2b;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}
a {
    color: #4682b4; /* Violet */
}

.form-group {
    margin-bottom: 30px;
}

.has-error input,
.has-error select {
    border: 2px solid #ff6347;
}

.help-block {
    color: #ff6347;
    font-size: 16px;
}

button {
    background-color: #4682b4;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #4169e1;
}

table {
    width: 80%;
    border-collapse: separate;
    margin-top: 40px;
}

th, td {
    border: 2px solid #778899;
    padding: 15px;
    text-align: center;
    color: #ddd;
}

th {
    background-color: #333;
}


footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2b2b2b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    z-index: 9999;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutForm {
    margin-right: 2em;
}

.logout-p {
    margin-left: 2em;
}
